.card {
    width: 280px;
}

.card .cabecalho {
    border-radius: 10px 10px 0px 0px;
}

.card .cabecalho img {
    width: 100px;
    border-radius: 100px;
    position: relative;
    bottom: -50px;
}

.card .info {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}