input:focus {
    outline: none;
}

.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.campo input {
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-sizing: border-box;
}

.campo-color input {
    height: 40px;
    padding: 5px 24px;
}